body {
    font-size: 12px;
    font-weight: bold;
}

.col-xs {
    margin-left: 10px;
}

#top-text {
    color: gray;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(235, 235, 235);
}

#header {
    font-weight: 500;
    background-color: #206185;
}

#header-menu-bar a {
    color: white;
}

#header img {
    margin-top: 20px;
    margin-bottom: 20px;
}

#header-top .col-xs {
    padding-top: 10px;
    color: white;
}

#subs {
    margin-left: 500px;
}

#header-menu-bar .col-xs {
    padding: 5px 5px 5px 5px;
}

#header-menu-bar a:hover {
    background-color: lightcoral;
}

#header-menu-bar nav {
    padding-bottom: 0px;
}

#header-menu-bar nav a {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 810px) {
    #subs {
        margin-left: 60%;
    }
}