body {
    font-size: 12px;
    font-weight: bold;
}

.col-xs {
    margin-left: 10px;
}

#upper-text div {
    display: inline-flex;
}

#top-text {
    text-align: center;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    color: gray;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(235, 235, 235);
}

#top-text::-webkit-scrollbar{
    display: none;
}

#top-text div {
    display: inline-block;
}

#header {
    font-weight: 500;
    background-color: #206185;

}

#header-menu-bar a {
    color: white;
}

#header img {
    margin-top: 20px;
    margin-bottom: 20px;
}

#header-top{
    max-width: 100%;
    width: 100vw;
    overflow: hidden;
    overflow-x: auto;
}

#header-top::-webkit-scrollbar{
    display: none;
}

#header-top div {
    display: inline-block;
    padding-top: 10px;
    color: white;
}

#header-menu-bar .col-xs {
    padding: 5px 5px 5px 5px;
}

#header-menu-bar a:hover {
    background-color: lightcoral;
}

#header-menu-bar nav {
    padding-bottom: 0px;
}

#header-menu-bar nav a {
    padding-left: 10px;
    padding-right: 10px;
}
