/* Globals */

html {
    font-size: 13px;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
}

hr.thick {
    border: 1px solid black;
}

figure {
    display: inline;
    padding-top: 0;
    margin: 0;
}

.custom {
    border: none;
    box-shadow: 0 5px 0.5rem rgba(128, 128, 128, 0.562);
    font-size: 12px;
    height: 570px;
    width: 850px;
    margin-left: -780px;
}

.clear-link a{
    color: gray;
}

.clear-link a:hover{
    text-decoration: none;
}

#menu-row p {
    padding-bottom: 5px !important;
}

/* OwlCaroulse */
.owl-carousel .item {
    height: 10rem;
    background: #4DC7A0;
    padding: 1rem;
}

/* Header Settings */

#main-logo {
    padding-top: 10px;
}

#login:hover{
    cursor: pointer;
    color: rgb(231, 231, 231);
}

#insc:hover {
    cursor: pointer;
    color: rgb(231, 231, 231);
}

#lupa:hover {
    cursor: pointer;

}
#lupa {
    filter: invert(100%);
}

.col-xs {
    margin-left: 10px;
}

#upper-text div {
    display: inline-flex;
}

#top-text {
    text-align: center;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    color: gray;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(235, 235, 235);
}

#top-text::-webkit-scrollbar {
    display: none;
}

#top-text div {
    display: inline-block;
}

#header {
    font-weight: 500;
    background-color: #206185;
}

#header-top {
    color: white;
    text-align: center;
    margin: auto;
    max-width: 850px;
    padding-right: 10px;
}

#header-top div {
    display: inline-block;
}

#header-top p {
    display: inline-block;
}

#header-top #timeDiv {
    float: left;
    padding-top: 8px;
    padding-left: 10px;
}

#header-top #topLinks {
    float: right;
    padding-top: 8px;
}

#header-top #topLinks p {
    padding-left: 5px;
    padding-right: 5px;
}

#header-menu-bar {
    margin: auto;
    max-width: 850px;
}

#header-menu-bar a {
    padding-right: 13px;
    padding-left: 13px;
}

.nav-link {
    transition: .2s;
    color: white !important;
}

.nav-link:hover:not(#menu-button) {
    background-color: #1D4D67;
}

#header img {
    margin-top: 20px;
    margin-bottom: 20px;
}

#circle-item {
    text-align: center;
    display: inline-block;
    padding: 5px;
    width: 95px;
}

.custom a {
    padding: 1px !important;
}

#left-menu .col-sm-12 {
    padding-left: 0px !important;
}

/* Weather */

#collapseWeather {
    width: 100vw;
    max-width: 840px;
}

#weather div a {
    text-decoration: none;
}

#weather h5, h6 {
    margin: 0;
    padding-bottom: 5px;
}

#collapser-card {
    transition: .3s;
}

#collapser-card:hover {
    background-color: #d4eaeb;
}

#weather hr {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

#weather #collapser-card {
    margin-bottom: 0;
    padding-bottom: 10px;
}

#weather #extendable-card {
    margin-top: 0;
    padding-top: 0;
}

#weatherBtn {
    transition: 0.5s;
}

#weatherBtn:hover {
    fill: #51919c;
    width: 3rem;
}

#collapser-card {
    margin-top: 5px;
    padding: 10px 15px 10px 15px;
    background-color: #F3F3F3;
    border-top: solid 1px #67B9C8;
}

#extendable-card {
    padding: 10px 15px 10px 15px;
    background-color: #F3F3F3;
}

/* News-Body Settings */

#news-body {
    margin: auto;
    margin-top: 80px;
    max-width: 850px;
    padding-left: 20px;
    padding-right: 20px;
}

.none-card {
    margin: 0 10px 0 0;
}

.ml-card {
    margin: 20px 0 0 10px;
    padding: 10px 15px 10px 15px;
    background-color: #F3F3F3;
    border-top: solid 1px #67B9C8;
}

.mr-card {
    margin: 20px 10px 0 0;
    padding: 10px 15px 10px 15px;
    background-color: #F3F3F3;
    border-top: solid 1px #67B9C8;
}

.mx-card {
    margin: 20px 10px 0 10px;
    padding: 10px 15px 10px 15px;
    background-color: #F3F3F3;
    border-top: solid 1px #67B9C8;
}

.def-card {
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    background-color: #F3F3F3;
    border-top: solid 1px #67B9C8;
}

.pic-card {
    float: left;
}

.pic-card img {
    display: block;
}

/* Footer Settings */

footer {
    margin: auto;
    text-align: center;
}

#footer-itms {
    text-align: left;
    margin: auto;
    max-width: 850px;
}

#footer-itms p {
    margin-bottom: 1px;
}

#bottom-text {
    margin: auto;
    font-size: 9px;
    max-width: 850px;
}


/* Standard Media Query */

@media (max-width: 575px) {
    #footer-itms {
        text-align: center;
    }
}

@media (min-width: 0px) {
    .navbar-brand {
        display: none;
    }
}

@media (max-width:900px) {
    #header-top #timeDiv {
        display: none;
    }
    #header-top #topLinks {
        display: none;
    }
    #header-top {
        display: none;
    }
    .navbar-brand {
        display: inline;
    }
    #header-menu-bar {
        margin: auto;
        max-width: 100%;
        display: inline;
    }
    .custom {
        height: unset;
        width: unset;
        margin-left: unset;
    }
    
}

@media (max-width: 575px) {
    .ml-card, .mr-card, .mx-card, .none-card {
        margin-left: 0;
        margin-right: 0;
    }

}

@media (max-width:991px) {
    .custom {
        height: unset;
    }
}

/* Boostrap settings overlay */

@media (min-width:901px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }
    .navbar .nav-item:hover .dropdown-menu:not(.custom) {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
    .navbar-expand-srset {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
    .navbar-expand-srset .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row
    }
    .navbar-expand-srset .navbar-nav .dropdown-menu {
        position: absolute
    }
    .navbar-expand-srset .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto
    }
    .navbar-expand-srset .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }
    .navbar-expand-srset>.container, .navbar-expand-srset>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
    .navbar-expand-srset .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important
    }
    .navbar-expand-srset .navbar-toggler {
        display: none
    }
    .navbar {
        flex-wrap: nowrap!important;
        -ms-flex-wrap: nowrap!important;
    }
}