body {
    font-size: 12px;
    font-weight: bold;
}

#main-logo {
    margin-left: auto;
    margin-right: 60px;
    padding-top: 15px;
    display: block;
}

.col-xs {
    margin-left: 10px;
}

#upper-text div {
    display: inline-flex;
}

#top-text {
    text-align: center;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    color: gray;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(235, 235, 235);
}

#top-text::-webkit-scrollbar {
    display: none;
}

#top-text div {
    display: inline-block;
}

#header {
    font-weight: 500;
    background-color: #206185;
}

#header-top {
    color: white;
    text-align: center;
    margin: auto;
    max-width: 850px;
    min-width: 740px;
}

#header-top div {
    display: inline-block;
}

#header-top p {
    display: inline-block;
}

#header-top #timeDiv{
    float: left;
    padding-top: 8px;
}

#header-top #topLinks{
    float: right;
    padding-top: 8px;
}

#header-top #topLinks p{
    padding-left: 5px;
    padding-right: 5px;
}

#head-menu-bar{
    margin: auto;
}
#header-menu-bar a {
    color: white;
}

#header img {
    margin-top: 20px;
    margin-bottom: 20px;
}

#header-menu-bar .col-xs {
    padding: 5px 5px 5px 5px;
}

#header-menu-bar a:hover {
    background-color: lightcoral;
}

#header-menu-bar nav {
    padding-bottom: 0px;
}

#header-menu-bar nav a {
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 850px) {
    #header #login {
        margin-left: 0 auto;
    }
}